:root{
    --colour0: #262626;
    --colour1: #0067B8;
    --colour2: #616161;
    --colour3: #F2F2F2;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px 0;
    font-size: 13px;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    
}

ul{
    
}

a{
    text-decoration: none;
    color: var(--colour0);
}

li{
    list-style: none;
    display: inline-block;
}
/* Nav */

.main-nav .img-logo{
    width: 110px;
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav ul{
    display: flex;
    
}
.main-nav ul li{
    padding: 0 10px;
}

.main-nav ul li a{
    padding-bottom: 2px;
}

.main-menu{
    flex: 1;
    margin-left: 20px;
}

.main-menu li a:hover{
    border-bottom: 2px solid var(--colour0);
}

.dropdown{
    margin-right: 30px;
    padding-bottom: 2px;
}

/* Icon */
.ms-Icon{
    font-size: 1rem;
}

.ms-Icon--ChevronDown{
    font-size: 8px;
    margin-left: 2.5px;
}

.dropdown a:hover{
    border-bottom: 2px solid var(--colour0);
}

/* Button */

.btn{
    padding: 12px 28px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}

.btn .ms-Icon{
    font-weight: 600;
    font-size: 11px;
    margin-left: 3px;
}

.btn:hover{
    opacity: 0.9;
}

.btn .ms-Icon .ms-Icon--ChevronRight:hover{
    margin-left: 12px;
    opacity: 0.9;
}
/* Showcase */

.showcase{
    margin-top: 20px;
    height: 400px;
    background: url(/img/win-img-01.jfif) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 70px;
}

.showcase h2{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 23px;
}

.showcase p{
    margin-right: 620px;
    font-size: 15px;
}

/* PrimaryArea */

#primaryArea{
    margin: 80px 0;
    font-size: 15px;
    font-weight: 500;
}

.menu-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 30px;
}
 
.menu-icons li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.2;
}

.menu-icons li img{
    margin-bottom: 5px;
}

/* Home Cards - 01 */

.home-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

.home-cards img{
    width: 100%;
    margin-bottom: 20px;
}

.home-cards div:hover{
    opacity: 0.9;
    cursor: pointer;
}

.home-cards h3{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.home-cards p{
    margin-bottom: 20px;
    font-size: 15px;
}

.home-cards a{
    color: var(--colour1);
    font-size: 15px;
    font-weight: 600;
    
}

.home-cards span, .home-cards i{
    transition: all 0.1s ease-in;
}

.home-cards i{
    font-size: 10px;
    margin-left: 6px;
    font-weight: 900;
    color: var(--colour1);
}

.home-cards span:hover{
    border-bottom: 2px solid var(--colour1);
}

.home-cards a:hover i{
    margin-left: 10px;
}

/* Xbox */
#xbox{
    margin: 60px 0;
    height: 450px;
    background: url(/img/xbox-fullImg.png) no-repeat center center/cover;
}

#xbox .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    padding: 150px 0 0 80px;
}

/* Home Cards 02 */
#home-cards-02{
    margin: 30px 0;
}

#home-cards-02 h2{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
}

/* Social Medias */
.follow{
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.follow p{
    font-size: 15px;
    color: var(--colour2);
}

.social li{
    padding: 0 5px;
    margin-left: 5px;
}