:root{
    --colour0: #262626;
    --colour1: #0067B8;
    --colour2: #616161;
    --colour3: #F2F2F2;
    --colour4: #E6E6E6;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    font-size: 13px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

a{
    text-decoration: none;
    color: var(--colour0);
}

li{
    list-style: none;
    display: inline-block;
}
/* Nav */

a .img-logo{
    width: 110px;
    cursor: pointer;
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.main-nav ul{
    display: flex;
}
.main-nav ul li{
    padding: 0 10px;
}

.main-nav ul li a{
    padding-bottom: 2px;
}

.main-menu{
    flex: 1;
    margin-left: 20px;
}

.main-menu li a:hover{
    border-bottom: 2px solid var(--colour0);
}

.dropdownbtn{
    margin-right: 30px;
    padding-bottom: 2px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

/* Icon */
.ms-Icon{
    font-size: 1rem;
}

/* Dropdown */

.ms-Icon--ChevronDown{
    font-size: 8px;
    margin-left: 8px;
}

.dropdownbtn span:hover{
    border-bottom: 2px solid var(--colour0);
}

.dropdown .header{
    border-bottom: 2px solid var(--colour4);
    padding: 0 10px;
    padding-bottom: 10px;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 60px;
    left: 5%;
    width: 1230px;
    height: 66%;
    background-color: var(--colour3);
    z-index: 3;
    border-bottom: 2px solid var(--colour0);
}

.dropdown-content .main-content{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.dropdown-content .drop-menu{
    display: flex;
    flex-direction: column;
}

.dropdown-content .drop-menu h5{
    font-size: 13px;
    font-weight: 500;
    padding: 0 25px;
}

.dropdown-content li{
    padding: 60px 0;
}

.dropdown-content a{
    color: var(--colour0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    text-decoration: underline;
}

.dropdown-content .drop-footer{
    text-align: center;
    background-color: var(--colour4);
}

.dropdown-content .drop-footer i{
    font-size: 11px;
}

.show {display: block;}

/* Button */

.btn{
    padding: 12px 28px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}

.btn i{
    font-weight: 600;
    font-size: 11px;
    margin-left: 10px;

}

.btn:hover span, .btn:hover{
    opacity: 0.9;
    border-bottom: 2px solid #fff;
}

.btn .ms-Icon .ms-Icon--ChevronRight:hover{
    margin-left: 12px;
    opacity: 0.9;
}

.burger{
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 2;
    display: none;
}


/* Showcase */

.showcase{
    margin-top: 20px;
    height: 400px;
    background: url(/img/win-img-01.jfif) no-repeat center center/cover;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase h2{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 23px;
}

.showcase p{
    margin-right: 620px;
    font-size: 15px;
}

/* PrimaryArea */

#primaryArea{
    margin: 80px 0;
    font-size: 15px;
    font-weight: 500;
}

.menu-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 30px;
}
 
.menu-icons li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.2;
}

.menu-icons li a:hover{
    text-decoration: underline;
}

.menu-icons li img{
    margin-bottom: 5px;
}

/* Home Cards - 01 */

.home-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

.home-cards img{
    width: 100%;
    margin-bottom: 20px;
}

.home-cards div:hover{
    opacity: 0.9;
    cursor: pointer;
}

.home-cards h3{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.home-cards p{
    margin-bottom: 20px;
    font-size: 15px;
}

.home-cards a{
    color: var(--colour1);
    font-size: 15px;
    font-weight: 600;
    
}

.home-cards span, .home-cards i{
    transition: all 0.1s ease-in;
}

.home-cards i{
    font-size: 10px;
    margin-left: 6px;
    font-weight: 900;
    color: var(--colour1);
}

.home-cards span:hover{
    border-bottom: 2px solid var(--colour1);
}

.home-cards a:hover i{
    margin-left: 10px;
}

/* Xbox */
.xbox{
    margin: 60px 0;
    height: 450px;
    background: url(/img/xbox-fullImg.png) no-repeat center center/cover;
}

#xbox .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Home Cards 02 */
#home-cards-02{
    margin: 30px 0;
}

#home-cards-02 h2{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
}

/* Social Medias */

.follow{
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.follow p{
    font-size: 15px;
    color: var(--colour2);
}

.social li{
    padding: 0 5px;
    margin-left: 5px;
}

.social li a:hover{
    opacity: 0.9;
}

/* Links */

.links{
    background-color: var(--colour3);
    font-size: 12px;
    padding: 35px 0;
    color: var(--colour2);
    margin-top: 50px;
}

.links-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.links ul{
    display: flex;
    flex-direction: column;
}
.links li{
    line-height: 2.8;
}

.links li h3{
    font-size: 15px;
    font-weight: 600;
}

.links li a{
    color: var(--colour2);
}

.links li a:hover{
    color: var(--colour0);
    text-decoration: underline;
}

/* Footer */

.footer{
    padding: 20px 0;
    background-color: #F2F2F2;
    font-size: 11px;
    color: var(--colour2);
}

.footer-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-inner div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-inner div i{
    margin-right: 5px;
}

.footer-inner div a:hover{
    text-decoration: underline;
}

.footer-inner ul li{
    padding: 0 10px;
    margin-bottom: 5px;
}

.footer-inner a{
    color: var(--colour2);
}

.footer-inner a:hover{
    color: var(--colour0);
    text-decoration: underline;
}

/* Media Queries */
@media screen and (min-width: 800px){
    .container{
        width: 95%;
    }

    .showcase div{
        padding: 0 70px;
    }

    .showcase p{
        padding: 40px 0;
    }

    #xbox .content{
        width: 40%;
        padding: 150px 0 0 80px;
    }
}
@media screen and (max-width: 760px){
    .container{
        margin: 0;
        padding: 0;
    }

    /* Burguer */
    .burger{
        display: block;
    }

    .burger i{
        color: var(--colour0);
    }

    .burger:hover{
        opacity: 0.5;
    }

    .main-nav .img-logo{
        margin: 0 auto;
    }

    .dropdownbtn{
        display: none;
    }

    .main-nav ul.main-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--colour3);
        width: 100%;
        height: 100%;
        transform: translateX(-1000px);
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        z-index:  3;
    }

    .main-nav ul.main-menu li{
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }

    .main-menu li a:hover{
        border-bottom: 0;
    }

    .main-nav ul.main-menu li:last-child{
        border-bottom: 0;
    }

    .main-nav ul.main-menu.show{
        transform: translateX(-20px);
    }

    .main-nav .right-menu{
        display: none;
    }
    /* Showcase */

    .showcase{
        width: 100%;
        height: 50vh;
        position: relative;
        margin-bottom: 375px;
    }

    .showcase div{
        height: 50vh;
        position: absolute;
        background-color: var(--colour4);
        top: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 45px;
    }

    .showcase p{
        margin: 0;
        
    }

    /* PrimaryArea */
    
    #primaryArea .menu-icons{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #primary .menu-icons li{
        padding: 0 10px;
    }

    #primaryArea .menu-icons a{
        display: flex;
        flex-direction: row;
        word-wrap: none;
        width: auto;
        padding: 10px 0;
    }

    .menu-icons img{
        margin: 0 10px;
        width: 20px;
    }

    /* Home-Cards */

    .home-cards{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 30px;
    }

    /* X-box */
    .xbox .content p {
  
    }

    .xbox{
        background: url(img/xbox2.png) no-repeat center center/cover;
        height: 50vh;
        position: relative;
        margin-bottom: 375px;
    }
    
    #xbox .content{
        background: var(--colour4);
        width: 100%;
        position: absolute;
        top: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 80px 0;
    }

    /* home-cards-02 */

    #home-cards-02 h2{
        margin: 10px 30px;
    }

    /* Follow */

    .follow p{
        margin: 0 30px;
    }

    /* Links */

    .links{
        padding: 20px 30px;
    }

    .links-inner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* Footer */
    .footer{
        padding: 20px 30px;
    }

    .footer-inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-inner div i{
        padding: 10px 0;
        
    }
}

@media screen and (max-width: 540px){
    .home-cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .links-inner{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}